html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #c9b5ab;

}

*, *::before, *::after {

  box-sizing: inherit;
}

h1 {

  font-family: 'PT Sans', sans-serif;
  color: #3f1622
}

nav ol {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5rem;
  list-style-type: none;
  text-decoration: none;
  color: #8f2440;
}
